
<!DOCTYPE html>
<html>
    <head>
        <meta chatset="utf-8">
        <title>Blinking Lights</title>
        <link rel="stylesheet" href="../styles/styles.css">
    </head>
    <body>
        <ul id="wire">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <h2>Best Wishes !!</h2>
    </body>
</html>